/** google fonts **/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');

/** Variables **/

:root{

    /** widths **/
    --body-max-width-desktop: 1366px;
    --body-max-width-mobile: 375px;

    /** Colors **/

    /* Primary */
    --scissors-gradient: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    --paper-gradient: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    --rock-gradient: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    /* Neutral */
    --dark-text:hsl(229, 25%, 31%);
    --score-text: hsl(229, 64%, 46%);
    --header-outline: hsl(217, 16%, 45%);
    /* Background */
    --background-gradient: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));

    /** Fonts **/
    --body-font: 'Barlow Semi Condensed', sans-serif;
    --normal-font-weight: 600;
    --big-font-weight: 700;
}

/** General **/

* {
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    
    font-family: var(--body-font);
    overflow-x: hidden;
    background: var(--background-gradient);
    
}

.container{
    width: 100%;
    max-width: var(--body-max-width-desktop);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: .5rem;
    
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem .8rem;
    margin: 0px 0px 1% 0px;
    
    
}

/** Score **/

header .score-container{
    position: relative;
    width: 35rem;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 1px 0px;
    border: 3px solid var(--header-outline);
    border-radius: 10px;
}

.score-container .title{
    position: relative;
    width: 6rem;
    height: 100%;
    text-align: start;
    margin: 1.25rem 1.25rem;
    
    
}

.score-container .title h1{
    font-size: 1.5rem;
    font-weight: var(--big-font-weight);
    color: #fff;
    text-transform: uppercase;
    
    
}

.score-container .score{
    position: relative;
    background: #fff;
    margin: 1.25rem 1.25rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 30px;
}

.score-container .score h2{
    font-size: 1rem;
    font-weight: var(--normal-font-weight);
    color: var(--score-text);
    text-transform: uppercase;
    letter-spacing: 1pt;
    margin: 10px 0px 0px 0px;
}

.score-container .score h1{
    font-size: 2.5rem;
    font-weight: var(--big-font-weight);
    color: var(--dark-text);

}

/** Game **/

main{
    position: relative;
    width: 100%;
    min-height: calc(100vh - 15rem);
    margin: 1% 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}

main .game-container{
    position: relative;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1rem;
    transition: .2s;
    
    
    
}
.game-container .game-option{
    width: 100%;
    position: relative;
    margin: 1rem 1rem;
    padding: .5rem .5rem;
    
   
    
}

.rock-border, .paper-border, .scissors-border {
    margin: .2rem;
    padding: .2rem .1rem;
    border-radius: 200%;
    transition: .2s;
    
}
.paper-border{
    background: var(--paper-gradient);
}

.rock-border{
    background: var(--rock-gradient);
}
.scissors-border{
    background: var(--scissors-gradient);
}

.game-container .btn-games{
    position: relative;
    background: #fff;
    margin: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: .5rem .5rem;
    z-index: 10;
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
    transition: .2s;
}

.game-container .btn-games:hover{
    margin: 1.1rem;
}


.game-container .btn-games img{
    width: 50%;
    margin: 2rem 2rem;
}

.game-container .result-container{
    position: relative;
    width: 60%;
    margin: 0px 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    padding: .2rem;
    
}
.result-container .result-text{
    font-size: 2.5rem;
    font-weight: var(--big-font-weight);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1pt;
    margin-bottom: .5rem;
    
}

.result-container div{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.result-container .btn-play-again{
    width: 90%;
    background: #fff;
    color: var(--dark-text);
    text-align: center;
    font-size: 1rem;
    font-weight: var(--normal-font-weight);
    text-transform: uppercase;
    border-radius: 5px;
    padding: .2rem 0px;
}

.result-container .btn-play-again:hover{
    color: red;
}

.game-container .option-container{
    width: 60%;
    height: 100%;
    
    position: relative;
    padding: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.option-container .text-game{
    width: 100%;
    padding: .5rem;
    text-align: center;
    
    
}

.option-container .text-game span{
    font-size: 1.5rem;
    font-weight: var(--normal-font-weight);
    color: #fff;
    text-transform: uppercase;
}

.option-container .result-option-container{
    width: 100%;
    height: 12rem;
    position: relative;
    padding: .5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-picked{
    padding: .2rem .2rem;
    border-radius: 100%;
}


.option, #result{
    display: none;
}


/** Rules button **/
main .rules-container {
    position: relative;
    width: 95%;
    height: auto;
    margin: .8rem 0 0 0;
    display: flex;
    justify-content: flex-end;
    
    
}
.rules-container button{
    display: none;
}

.rules-container label{
    position: relative;
    width: 6rem;
    height: 2rem;
    color: #fff;
    text-align: center;
    font-size: .8rem;
    font-weight: var(--normal-font-weight);
    letter-spacing: 1pt;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: .5rem .5rem;
    transition: .2s;

}

.rules-container label:hover{
    background: #fff;
    color: var(--dark-text);
}

/* Rules window */
.rules-window-container{
    position: fixed;
    width: 100%;
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    z-index: -100;
    transition: .2s;
}

.rules-window-container .rules{
    position: relative;
    width: 40%;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    right: -100%;
    transition: .4s;
}

.rules-window-container .rules .rule-header{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0px;
}

.rules-window-container .rules .rule-header span{
    font-size: 1.5rem;
    color: #111;
    font-weight: var(--big-font-weight);
    text-transform: uppercase;
}

.rules-window-container .rules .rule-header button{
    display: none;
}

.rules-window-container .rules .rule-header label{
    position: relative;
    width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.rules-window-container .rules .rule-header label i{
    font-size: 1.5rem;
    transition: .2s;
}

.rules-window-container .rules .rule-header label:hover i{
    color: red;
}

.rules-window-container .rules .rule-body{
    position: relative;
    width: 100%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rules-window-container .rules .rule-body img{
    position: relative;
    width: 100%;
}

/** Footer **/

footer{
    width: 100%;
    height: 1rem;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 2rem;

}
.attribution { 
    position: relative;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    
}
.attribution a { 
    color: rgb(89, 106, 255); 
   
}

/** Media querys **/

@media only screen and (max-width:900px){

    /** General **/
   
    /** Game **/
    .game-container .game-option{
        padding: 1.5rem 1.5rem;
    }

    .game-container .btn-games{
        padding: 1rem 1rem;
    }
    
    .game-container .btn-games img{
        margin: 1.5rem 2.5rem;
    }
    

}

@media only screen and (max-width:540px){
    /** General **/
    .container{
        max-width: var(--body-max-width-mobile);
    
    }

    /** Game **/

    .main{
        margin: auto;
    }

    main .game-container{
        width: 90%;
        height: 100%;
        flex-direction: column;
        padding: .1rem;
        
    }
    .game-container .game-option{
        width: 40%;
        padding: .1rem .1rem;
    }

    .game-container .btn-games{
        padding: .1rem .1rem;
    }
    
    .game-container .btn-games img{
        margin: 1rem 2rem;
    }

    .rock-border, .paper-border, .scissors-border {
        
        padding: .1rem 0rem;
        
    }
    /** Rules button **/
    main .rules-container{
        justify-content: center;
    }

    /** Rules window**/

    
    .rules-window-container {
        width: 100%;
        top: 0;
        bottom: 0;
        padding: 0;
    }

    .rules-window-container .rules{
        width: 100%;
        height: 100%;
        overflow-y: auto;
        
    }
    

    .rules-window-container .rules .rule-body img{
        width: 100%;
    }

    .rules-window-container .rules .rule-body{
        width: 100%;
        padding: 2rem;
    }

    
}


@media only screen and (max-width:0){

    /** Game **/

    .game-container{
        width: 100%;
        border: 1px solid #fff;
    }
    .game-container .game-option{
        width: 100%;
        padding: 10rem 10rem;
        border: 1px solid #fff;
        
    }

    .game-container .btn-games{
        padding: 0;
    }
    .game-container .btn-games img{
        
        margin:1rem 1rem;
        border: 1px solid #fff;
    }
}